{% extends "user_log.html" %}
{% block user_log %}
    <ul class="nav nav-pills pull-right">
        <li><a href="{{ url_for('home.home') }}">返回</a></li>
    </ul>
    <h3 class="text-muted">RealU</h3>
    <hr>
    <form class="form-signin" role="form" method="post" action="">
      {{ form.csrf_token }}
        <h2 class="form-signin-heading">Please sign up</h2>
      <p>
        <label for="inputName" class="sr-only">Username</label>
        {{ form.username(placeholder="Username", class="form-control", autofocus="") }}
        <span class="error">
          {% if form.username.errors %}
            {% for error in form.username.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
      <label for="inputEmail" class="sr-only">Email</label>
      {{ form.email(placeholder="Email", class="form-control") }}
        <span class="error">
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
      <label for="inputPassword" class="sr-only">Password</label>
      {{ form.password(placeholder="Password", class="form-control") }}
        <span class="error">
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
      <label for="inputConfirm" class="sr-only">Confirm</label>
      {{ form.confirm(placeholder="Confirm", class="form-control") }}
        <span class="error">
          {% if form.confirm.errors %}
            {% for error in form.confirm.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
        {% if error %}{{ error }}{% endif %}
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">注册!</button>
    </form>
{% endblock %}