{% extends "base.html" %}
{% block content %}

<div class="container-narrow">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/register">Sign up</a></li>
        <li><a href="/login">Sign in</a></li>
    </ul>
    <h3 class="text-muted">RealU</h3>
    <hr>
    <div class="jumbotron">
        <h1>Be yourself and create future!</h1>
        <p class="lead">Thousands of people wants to find the place to show themselves and there it is!</p>
        <a class="btn btn-large btn-success" href="/register">Sign up today</a>
    </div>
    <div class="row marketing">
        
    </div>

    <div class="footer">
        <p>&copy; Company RealU</p>
    </div>
</div>

{% endblock %}