{% extends "user_base.html" %}
{% block user_page %}
    <div class="col-md-4">
    <form class="form-signin" role="form" method="post" action="">
    <h3>输入个人介绍</h3>
    {{ form.csrf_token }}
    <label for="about_me" class="sr-only">输入个人介绍</label>
        {{ form.about_me(class="form-control", placeholder="") }}
        <span class="error">
        {% if form.about_me.errors %}
            {% for error in form.about_me.errors %}
            {{ error }}
            {% endfor %}
        {% endif %}
        </span>
    <button class="btn btn-lg btn-primary btn-block" type="submit">确认更改</button>
    </form>
    </div>
{% endblock %}